.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login input {
  width: 500px;
  padding: 10px;
  margin-top: 20px;
}
